@import url(https://fonts.googleapis.com/css?family=Roboto);

* {font-family: Roboto}

*{
    padding: 0;
    margin: 0;
}
#main-container{ margin: 0 10vw; }
a{
    color: inherit;
    text-decoration: none;
}
.link{
    font-size: 14px;
    cursor: pointer;
    color: rgb(90, 90, 248);
}
button{
    box-shadow: none;
    border: none;
    background: rgb(201, 201, 201);
    color: black;
    cursor: pointer;
    padding: 2px;
    border: .5px;
}
.center-absolute{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.middle{
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
}
.path{ font-style: italic; }
h1{ margin: 30px 0; }
h2{ margin: 80px 0 15px 0; }
ul,li{ list-style: none; }
.code.no-margin{ margin: 0 0 0 0; }
@media screen and (max-width: 884px){
    #main-container{
        margin: 0 5vw;
    }
}
@media screen and (max-width: 785px){
    #main-container{
        margin: 0 1vw;
    }
}